{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-uses-vars": 2,
    "react/no-danger": 1
  }
}
